<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <!-- Método de publicación -->
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <!-- Azure -->
    <PublishProvider>AzureWebSite</PublishProvider>
    <ResourceGroup>obli_p3_348209</ResourceGroup>
    <ResourceId>/subscriptions/39afebaf-9b02-45ad-b20b-5126c465c5a4/resourceGroups/obli_p3_348209/providers/Microsoft.Web/sites/mauricioAPI</ResourceId>
    <MSDeployServiceURL>mauricioapi-eddggufkfza4a3gv.scm.brazilsouth-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mauricioAPI</DeployIisAppPath>
    <!-- Build -->
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <!-- INDISPENSABLE: Instalar módulo ASP.NET Core -->
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <!-- Para evitar que VS genere un web.config roto -->
    <DisableFeatures>GenerateAspNetCoreWebConfig</DisableFeatures>
    <!-- Publicar EXE normal (no SelfContained) -->
    <SelfContained>false</SelfContained>
    <UseAppHost>true</UseAppHost>
    <!-- Limpieza -->
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <!-- Opciones varias -->
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>